 .modal-confirm {
     color: #434e65;
     width: 525px;
 }

 .modal-confirm .modal-content {
     padding: 20px;
     font-size: 30px;
     border-radius: 20px;
     background: #eee;
     border-width: 10px;
     border-color: #0694A2;
     margin-top: 300px;
 }

 .modal-confirm .modal-header {
     background: #eee;
     border-bottom: none;
     border-color: #0694A2;
     position: relative;
     text-align: center;
     margin: -20px -20px 0;
     border-radius: 20px 20px 0 0;
     padding: 35px;
 }

 .modal-confirm h4 {
     text-align: center;
     font-size: 36px;
     margin: 10px 0;
 }

 .modal-confirm .form-control,
 .modal-confirm .btn {
     min-height: 40px;
     border-radius: 20px;
 }

 .modal-confirm .close {
     position: absolute;
     top: 15px;
     right: 15px;
     color: #fff;
     text-shadow: none;
     opacity: 0.5;
     height: 30px;
     width: 30px;
     border: none;
 }

 .modal-confirm .close:hover {
     opacity: 0.8;
 }

 .modal-confirm .icon-box {
     background-color: #fff;
     width: 130px;
     height: 130px;
     display: inline-block;
     border-radius: 50%;
     z-index: 9;
     border: 10px solid #0694A2;
     padding: 15px;
     text-align: center;
     margin-top: -100px;
 }

 .modal-confirm .icon-box i {
     font-size: 64px;

 }

 .modal-confirm.modal-dialog {
     margin-top: 80px;
 }